@import 'reset.css';

.container {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    border-right: 1px solid red;
    border-left: 1px solid red;
}
.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/STS41B-35-1613_-_Bruce_McCandless_II_during_EVA_%28Retouched%29.jpg/800px-STS41B-35-1613_-_Bruce_McCandless_II_during_EVA_%28Retouched%29.jpg) center center / cover no-repeat;   
}
.cover .profile {
    position: absolute;
    width: 100%;
    height: 40%;
    max-height: 300px;
    bottom: 0;
    background-color: burlywood;
}
.cover .profile .container  img {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 3px solid burlywood;
    background-color: white;
    border-radius: 50%;
    transform: translate( 30px,-50px);
}
.main {
    position: absolute;
    width: 100%;
    height: 500vh;
    top: 100vh;
    background-color: aquamarine;
}