@import "reset.css";
@import "theme.css";

* {
  transition: color 0.3s;
  transition: background 0.7s;
}
body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
}
.menu-toggle {
  z-index: 50;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  background-color: var(--pointColor);
  border-radius: 30%;
  cursor: pointer;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.menu-toggle svg {
  width: 70%;
  fill: var(--fontColor);
}
nav {
  width: 100%;
  height: 70px;
  z-index: 100;
  position: fixed;
  top: 0;
  display: none;
  background-color: var(--backgroundColor);
  border-bottom: 1px solid rgba(120, 120, 120, 0.2);
}
nav img {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
nav .nav-inner {
  max-width: 900px;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-column: 3;

  @media (min-width: 900px) {
    grid-template-columns: 30% 30% 30%;
  }
}
.container {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/STS41B-35-1613_-_Bruce_McCandless_II_during_EVA_%28Retouched%29.jpg/800px-STS41B-35-1613_-_Bruce_McCandless_II_during_EVA_%28Retouched%29.jpg)
    center 0 / cover no-repeat;
  transition: none;
}
.cover .profile {
  position: absolute;
  width: 100%;
  height: 40%;
  max-height: 300px;
  bottom: 0;
  background-color: var(--backgroundColor);
  border-bottom: 1px solid rgba(120, 120, 120, 0.2);
}
.cover .profile .container img {
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  transform: translateY(-50%);
  /* box-shadow: 0 0 10px var(--pointColor); */
  background-color: var(--backgroundColor);
  border: 3px solid var(--backgroundColor);
}
.profile-inner {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 70px 40px 80px 90px;
  .like {
    margin: auto 0 auto auto;
    height: 40px;
    width: 120px;
    background: none;
    color: var(--pointColor);
    font-size: 1em;
    font-weight: 700;
    border-radius: 50px;
    border: 2px solid var(--pointColor);
    cursor: pointer;
    &:hover {
      background-color: var(--pointColor);
      color: white;
      transition: all 0.3s ease-in;
    }
  }
  span {
    color: var(--fontColor);
  }
  .name {
    font-size: 1.2em;
    font-weight: 600;
  }
  .introduce {
    font-size: 0.9em;
  }
  .career {
    width: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 0.8em;
    opacity: 0.6;
    font-weight: 600;
    div {
      display: flex;
      height: 100%;
      align-items: center;
      gap: 2px;
      overflow: hidden;
    }
    svg {
      width: 20px;
      height: 20px;
      fill: var(--fontColor);
    }
  }
}
.main {
  position: absolute;
  width: 100%;
  height: 500vh;
  top: 100vh;
  background-color: var(--backgroundColor);
}
