@import 'reset.css';
@import 'theme.css';

body {
    background-color: var(--backgroundColor);
    color: var(--fontColor);
}
.menu-toggle {
    z-index: 50;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    background-color: var(--pointColor);
    border-radius: 30%;
    cursor: pointer;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}
.menu-toggle svg {
    width: 70%;
    fill: var(--backgroundColor);
}
.container {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
}
.cover {
    position: fixed;
    width: 100%;
    height: 100%;
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/STS41B-35-1613_-_Bruce_McCandless_II_during_EVA_%28Retouched%29.jpg/800px-STS41B-35-1613_-_Bruce_McCandless_II_during_EVA_%28Retouched%29.jpg) center center / cover no-repeat;   
}
.cover .profile {
    position: absolute;
    width: 100%;
    height: 40%;
    max-height: 300px;
    bottom: 0;
    background-color: var(--backgroundColor);
}
.cover .profile .container  img {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    transform: translate(30px,-50%);
    border: 5px solid var(--backgroundColor);
}
.main {
    position: absolute;
    width: 100%;
    height: 500vh;
    top: 100vh;
    background-color: var(--backgroundColor);
}