:root {
    --backgroundColor: #1a1c2c;
    --fontColor: #eee;
    --pointColor: rgb(71, 172, 255);
}
:root[color-theme='light'] {
    --backgroundColor: #fff;
    --fontColor: #334;
}
:root[color-theme='dark'] {
    --backgroundColor: #1a1c2c;
    --fontColor: #eee;
}